[user]
	name = stevenfrog
	email = stevenfrog@gmail.com
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen (%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
	br = branch
	ci = commit
	co = checkout
	st = status
	diffall = /home/stevenfrog/bin/git-diffall.sh
[color]
	ui = true
[diff]
	tool = meld
